.product-details-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.product-details-preview-img {
    width: 90%;
}

.product-details-product-name {
    font-size: 40px;
}

.product-details-product-description {
    font-size: 20px;
}

.product-details-product-price {
    font-size: 25px;
    font-weight: 900
}

.product-details-addcart-button {
    border: 1px solid #0A49FA;
    background-color: #0A49FA;
    color: white;
    padding: 5px 10px;
    margin-top: 10px
}

.product-details-addcart-button:hover {
    cursor: pointer;
    background-color: white;
    color: #0A49FA;
}

.product-details-row-buttons {
    margin-top: 20px
}

.product-details-row2-buttons {
    display: flex;
    gap: 10px;
}

.product-details-characteristics-border {
    border-bottom: 1px solid #C9C9C9;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #B92B27;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
