.museum-details-container {
    margin: 0 15%;
  }

.museum-details-img {
    width: 100%;
}

.museum-details-main-container {
    margin: 0 10%;
}

.museum-details-columns-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.museum-details-column-left {
    padding-right: 10px;
}

.museum-details-column-right {
    border-left: 1px solid #E5E5E5;
}

.museum-details-buttons-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-right: 60px
}

.museum-details-products-button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 60px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.museum-details-shopcard-container {
    background-color: #E5E5E5;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.hidden {
    display: none;
}

.map {
    z-index: -5;
}

.museum-details-map-container {
    margin-left: 20px;
    margin-right: 20px;
}
